<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.namespace.yourapp"
	version 	= "1.0.0">

	<name></name>

	<description>
		
	</description>

	<author href="http://a.shinynew.me"
		email="">
		Burke Holland
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
